.navbarContainer {
  width: 100%;
  height: 60px;
  background: #212731;

  justify-content: center;
  align-items: center;
}
.navbarContent {
  display: flex;
  margin-right: 10px;
  justify-content: space-around;
}
.searchInput {
  margin-right: 5rem;
  position: relative;
}
.searchInput input {
  height: 37px;
  width: 258px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.searchInput svg {
  position: absolute;
  color: gray;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.linkContainer {
  display: flex;
  margin: auto;
}
.link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #d1d6da;
  margin-right: 55px;
  text-decoration: none;
  transition: all;
}
.link:hover {
    color: white;
    text-decoration: underline;
}