.infoBarContainer {
  width: 100%;
  border-top: 1px solid #e1e4e6;
  border-bottom: 1px solid #e1e4e6;
  padding: 15px;
}
.infoBarContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoBarContent .left {
  display: flex;
  align-items: center;
  color: #4b5665;
  font-size: 14px;
  font-weight: 400;
  gap: 3rem;

  :nth-child(1) {
    gap: 0.75rem;
    display: flex;
    align-items: center;
  }
  :nth-child(2) {
    gap: 0.75rem;
    display: flex;
    align-items: center;
  }
}
.infoBarContent .right {
  display: flex;
  align-items: center;
  color: #4b5665;
  font-size: 14px;
  font-weight: 400;
  gap: 0.75rem;

  :nth-child(2) {
    cursor: pointer;
  }
}
