.cardsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 3rem;
  transition: height 0.3s ease; 

}
.numCircle {
  position: absolute;
  width: 44px;
  aspect-ratio: 1;
  background: white;
  border: 1px solid #e1e4e6;
  display: flex;
  border-radius: 25px;
  left: -25px;
  top: 35px;
  justify-content: center;
  align-items: center;

  span {
    color: #626e79;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
}

.image {
  margin-top: 3rem;
}
.imgName {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #626e79;
}
.cardDetails {
  display: flex;
  color: #4b5665;
  flex-direction: column;
  width: 100%;
  max-width: 60%;
  gap: 1rem;
  .titleDesc {
    display: flex;

    .title {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
    .desc {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .highlight {
    color: #2c384a;

    .highlightText {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
    .highlightDesc {
      color: #4b5665;
      margin-left: 1rem;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .btn {
    display: flex;
    color: #1b88f4;
    align-items: center;
    gap: 0.75rem;
    .btnText {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}



@media (max-width: 768px) {
  .cardContentSm {
    padding: 10px 0px; 
    flex-direction: column;
    align-items: center;
  }
  .highlightDesc {
    font-size: 14px; 
  }

  .cardSectionCard {
    display: flex;
    flex-direction: column;
    

  }
  .homeSection {
    padding: 0 2rem;
  }
}

/* Styles when main highlight is toggled */
