.lastCard {
  height: auto;
}
.highlightContentContainer {
  width: 400px;
  height: 130px;
  background: #fff4ed;
  display: flex;
  border-radius: 12px;
  gap: 0.75rem;
  max-width: 500px;
  flex-direction: column;
  padding: 5px 18px;

  .highlightContent {
    display: flex;
    gap: 0.75rem;
    align-items: center;
  }
  .lastCardTile {
    width: 40px;
    height: 28px;

    border-radius: 4px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #1b88f4;
  }

  .lastCardText {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #4b5665;
  }
}

.whyWeLoveIt {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  .something {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .content {
    align-items: center;
    display: flex;
    gap: 0.75rem;

    span {
      font-family: Inter;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #4b5665;
    }
  }
}
.allContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .highlightContentContainer {
    width: auto;
    padding: 10px 10px;
  }
}